.sg_table {
    float: left;
    margin-right: 2%;
}

.column {
    font-size: large;
}

.student_entry {
    display: block;
}

.student_link {
    cursor: pointer;
}

.table_block {
    
}

#button_stack_1 {
    background-color: #f8f9fa;

    padding-top: 12px;
    margin-left: 1%;

    height: 520px;
    width: 12%;

    margin-right: 1%;

    border-radius: 8px;

    overflow: scroll;
    float: left;
}

#table_display {
    background-color: #f8f9fa;

    border-radius: 8px;

    height: 532px;

    width: 72%;
    max-width: 72%;

    overflow:scroll;

    max-height: 97%;
    
    margin-right: 1%;

    float: left;
}

#button_stack_2 {
    background-color: #f8f9fa;

    padding-top: 12px;

    height: 520px;
    width: 12%;

    border-radius: 8px;

    float: left;
}